@import "../assets/styles/variables";

.add-hero-form {
  padding: 1rem;

  .form-container {
    display: flex;
  }

  .form-column {
    margin: 1rem auto;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;

    .content {
      margin: 0 auto;
    }
  }

  .form-column:nth-child(2) {
    border-left: solid 1px $secondary;
    border-right: solid 1px $secondary;
  }
}

.list-control-container {
  margin-left: 1rem;
  button {
    margin-left: 0.5rem;
  }
}
