.subtitle {
  display: flex;
  align-items: center;

  h2 {
    margin-left: 1rem;
  }
}

.form-column {
  width: 45%;
  min-width: 20rem;
  margin: 0 auto;
}

.creator-container {
  display: flex;
}
